.navbar{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    padding-bottom: 16px;
    .top-left-container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        @include md{
            display: none;
        }
        button{
            background: transparent;
            border: none;
            z-index: 2;
            &:focus{
                outline: none;
            }
        }
        .menu{
            padding-top: 8px;
            z-index: 2;
        }
        .back{
            left: 20px;
            position: relative;
            top: 20px;
            width: 30px;
        }
        .top-left{
            position: absolute;
        }
    }
    .top-right-container{
        position: fixed;
        top: 0;
        right: 0;
        justify-content: flex-end;
        display: flex;
        img{    
            display: none;
            @include md{
                display: block;
                width: 30%;
            }
            @include lg{
                width: 40%;
            }
            @include xl{
                width: 50%;
            }
            @include xxl{
                width: 70%;
            }
            @include xxxl{
                width: 100%;
            }
        }
    }
    .menu-container{
        display: none;
        width: 150px;
        list-style: none;
        justify-content: space-between;
        z-index: 2;
        a{
            text-decoration: none;
            color: white;
        }
        @include rwd(300, 768){
            position: fixed;
            height: 100vh;
            top: 0;
            width: 100vw;
            justify-content: center;
            left: 0;
            align-items: center;
            display: flex;
            z-index: -1;
            right: 0;
            background: white;
            color: #252525;
            flex-direction: column;
            font-size: 2rem;
            clip-path: circle(100px at 0% -35%);
            -webkit-clip-path: circle(100px at 0% -35%);
            transition: all .6s ease-out;
            a{
                text-decoration: none;
                color: $primary-black;
            }
            li{
                margin-bottom: 24px;
                
            }
            &-open{
                clip-path: circle(1200px at 0% -15%);
                -webkit-clip-path: circle(1200px at 0% -15%);
            }
        }
        @include md{
            display: flex;
        }
        
    }
}