*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: $main-font;
}

@font-face{
    font-family:"OCR A";
    src:url(../../fonts/OCR-A.ttf) format("truetype");
    font-weight: 200;
}
body{
    background: $dark-black;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-purple; 
  }

//   Scroll to top
.to-top{
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: $primary-black;
    font-size: x-large;
    background: $primary-purple;
    position: fixed;
    bottom: 35px;
    left: 20px;
    @include msm{
        padding: 5px 10px;
    }
}
.container{
    padding: 0 16px;
    @include md{
        padding: 0 60;
    }
    @include xl{
        padding: 0 80px;
    }
    @include xxl{
        padding: 0 120px;
    }
    @include xxxl{
        padding: 0 160px;
    }
}