*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: $main-font;
}

body{
    background: $dark-black;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-purple; 
  }
.container{
    padding: 0 16px;
    @include md{
        padding: 0 60;
    }
    @include xl{
        padding: 0 80px;
    }
    @include xxl{
        padding: 0 120px;
    }
    @include xxxl{
        padding: 0 160px;
    }
}