// Header
.header{
    background-image: url('../../images/header-mobile.svg');
    width: 100%;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    min-height: 40vh;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    @include md{
        background-image: url('../../images/header.svg');
    }
    .heading-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 10px;
        text-align: center;
        color: $dark-black;
        @include msm{
            top: unset;
        }
        @media (orientation:landscape) and (max-width:1024px) and (max-height:900px) {
            top: 0;
        }
        br{
            display: block;
            @include lg{
                display: none;
            }
        }
        h1{
            margin: 16px;
            font-size: $large-font;
            font-weight: $regular-font;
            @include xxl{
                font-size: $xlarge-font;
            }
            @include xxxl{
                font-size: $xxlarge-font;
            }
        }
    }
}

// Profile
.profile-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 140px;
    @extend .container;
    @include msm{
        justify-content: flex-start;
        top: 160px;
    }
    @media (orientation:landscape) and (max-width:1024px) and (max-height:900px) {
        justify-content: flex-start;
        top: 60px;
    }
    .profile{
        width: 150px;
        @include msm{
            width: 200px;
        }
    }
}

// Content
.content-container{
    @extend .container;
}

// About Start
.about-container{
    color: white;
    font-weight: $regular-font;
    min-height: 50vh;
    b{
        color: $primary-purple;
    }
    .welcome-message{
        font-size: $title-font;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 16px;
        @include msm{
            font-size: $large-font;
        }
        @include md{
            text-align: left;
            font-size: $xlarge-font;
        }
        
    }
    .welcome-description{
        line-height: 1.2;
        font-size: 15px;
        @include msm{
            font-size: $title-font;
            max-width: 600px;
            text-align: center;
            margin: auto;
        }
        @include md{
            width: 610px;
            font-size: 22px;
            text-align: unset;
            margin: unset;
        }
    }
}