// Header
.projects-header{
    top: -65px;
}
// Projects Start
.projects-container{
    @extend .container;
    color: white;
    font-weight: $regular-font;
    b{
        color: $primary-purple;
    }
    a{
        color: white;
        margin: 12px 0;
        display: block;
    }
    .projects-menu{
        margin-top: -60px;
        margin-left: 35px;
        color: $primary-purple;
        
        li a{
            transition: $transition-main;
            cursor: pointer;
            display: inline;
            &:hover{
                color: $primary-purple;
                transition: $transition-main;
            }
        }
    }
    .project{
        margin: 32px 0;
        .project-heading{
            font-size: $title-font;
            font-weight: lighter;
            margin-bottom: 16px;
            color: $primary-purple;
            @include msm{
                font-size: $large-font;
            }
            @include md{
                font-size: $xlarge-font;
            }
            
        }
        .description{
            margin: 12px 0;
        }
        .section-title{
            @extend .project-heading;
            font-size: $regular-font;
            @include md{
                font-size: $large-font;
            }
        }
        .content-wrapper{
            display: flex;
            flex-direction: column;
            @include md{
                flex-direction: row;
            }
            .left-top{
                margin-bottom: 16px;
                margin-right: unset;
                @include md{
                    margin-bottom: unset;
                    margin-right: 16px;
                }
                .image-container{
                    img{
                        width: 100%;
                    }
                }
                .buttons-container{
                    margin: 12px 0;
                    display: flex;
                    justify-content: flex-start;
                    a{
                        text-decoration: none;

                    }
                    .visit{
                        @include primary-button;
                        margin-right: 12px;
                        &:focus{
                            outline: none;
                        }
                    }
                    .source{
                        @include primary-button;
                        color: $primary-black;
                        background: white;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                .technologies-container{
                    display: flex;
                    flex-wrap: wrap;
                    .technology{
                        width: 30%;
                        margin-left: 18px;
                    }
                }
            }

            .right-bottom{
                p{
                    margin-bottom: 24px;
                }
            }
        }
        hr{
            border-color: $primary-purple;
            margin: 12px 0;
        }
    }
}

// Projects End

// Contact Start
.contact{
    @extend .container;
    margin: 24px 0;
    color: white;
    b{
        color: $primary-purple;
    }
    a{
        text-decoration: none;
    }
    .heading{
        font-size: $title-font;
            font-weight: lighter;
            margin-bottom: 16px;
            @include msm{
                font-size: $large-font;
            }
            @include md{
                font-size: $xlarge-font;
            }
    }
    .whoami,.cta{
        margin: 16px 0;
    }
    img{
        width: 15px;
    }
    .cta{
        display: inline;
    }
    @at-root .contact-button{
        display: inline;
        margin: 24px 0;
        @include primary-button;
        min-width: 120px;
        &:focus{
            outline: none;
        }
    }
}
// Contact End